/*src/components/statistics/statistics.module.css*/

/* 工具栏 */
.toolbar {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 岗位统计图表容器 */
.jobCharts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

/* 屏幕宽度较小时，改为纵向排列 */
@media (max-width: 1200px) {
  .jobCharts {
    grid-template-columns: 1fr;
  }
}


/*操作*/
a{
  color: #1890ff;
}