/*src/components/statistics/statistics.module.css*/

/* 工具栏 */
.toolbar {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*操作*/
a{
  color: #1890ff;
}