/* src/pages/Login/loginLayout.module.css */

/* 顶部栏 */
.header {
    color: white;
    height: 8vh;
    font-size: 26px;
    background-color: midnightblue;
}

/* 全屏背景图容器 */
.container {
    position: relative;
    width: 100%;
    height: 92vh;

    /* 背景图全部铺满 */
    background-image: url("@/assets/images/auth-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* 半透明蒙层 */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.1);
}

/* 登录卡片（浮在右侧） */
.formWrapper {
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);

    width: 400px;
    padding: 36px 32px;

    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;

    /* 柔和过渡 */
    transition: box-shadow 0.3s ease, transform 0.3s ease;

    z-index: 10;
}

.formWrapper:hover{
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.28);
    transform: translateY(calc(-50% - 2px)); /* 轻微上浮 */
}

/* 左侧文字区（在背景图上） */
.textArea {
    position: absolute;
    left: 80px;
    top: 40%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 10;
}

.title {
    text-shadow: 0 8px 20px rgba(0, 0, 0,0.5);
    font-size: 42px;
    font-weight: bold;
}

.subTitle {
    text-shadow: 0 8px 20px rgba(0, 0, 0,0.5);
    font-size: 22px;
    margin-top: 12px;
    opacity: 0.9;
}

.footer{
    /*background-color: midnightblue;*/
    /*color: white;*/
    text-align: center;
    font-size: 18px;
}

/*.leftPanel {*/
/*    flex: 1;*/
/*    !*background: linear-gradient(135deg, #02c3ab, #00a38c);*!*/
/*    color: white;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    padding-left: 10%;*/
/*    background-image: url("@/assets/images/auth-background.png");*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*}*/


/*.rightPanel {*/
/*    width: 420px;*/
/*    background: #fff;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 40px 24px;*/
/*    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.05);*/
/*}*/
