/*src/pages/Profile/profile.module.css*/

.cardWrapper {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  background: #fff;
}

.avatarWrapper {
  text-align: center;
  position: relative;
  margin-bottom: 32px;
}

.avatarEdit {
  position: absolute;
  right: calc(50% - 50px);
  bottom: 0;
  transform: translateX(50%);
}

.sectionTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.twoCols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.threeCols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.button{
  position: absolute;
  right: 44px;
  bottom: 20px;
}

@media (max-width: 1100px) {
  .twoCols {
    grid-template-columns: 1fr;
    gap:0;
  }
  .threeCols{
    grid-template-columns: 1fr;
    gap:15px;
  }
}


